<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<p><%= fruit._id %></p>
		<p><%= fruit.name %></p>
		<p><%= fruit.isReadyToEat %></p>
		<a href="/fruits/<%=fruit._id%>/edit">Edit Fruit</a>
		<form action="/fruits/<%=fruit._id%>?_method=DELETE" method="POST">
			<button type="submit">Delete <%= fruit.name %></button>
		</form>
		<a href="/fruits/">Back to Fruits</a>
	</body>
</html>
